/* @font-face {
  font-family: "Helectrineue";
  src: url("../fonts/HelveticaNeue.ttf"),
    url("../fonts/HelveticaNeue\ Medium.ttf") format("truetype"),
    url("../fonts/HelveticaNeue\ BlackCond.ttf") format("truetype"),
    url("../fonts/HelveticaNeue\ Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
/* Custom Fonts Link */
@font-face {
  font-family: "Axiforma";
  src: url("../fonts/axiforma/Axiforma-Thin.eot");
  src: local("Axiforma Thin"), local("Axiforma-Thin"),
    url("../fonts/axiforma/Axiforma-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/axiforma/Axiforma-Thin.woff2") format("woff2"),
    url("../fonts/axiforma/Axiforma-Thin.woff") format("woff"),
    url("../fonts/axiforma/Axiforma-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
/*
@font-face {
  font-family: "Helectrineue";
  src: url("../fonts/freefontsdownload.txt"),
    url("../fonts/HelveticaNeue\ Medium.ttf") format("truetype"),
    url("../fonts/HelveticaNeue\ BlackCond.ttf") format("truetype"),
    url("../fonts/HelveticaNeue\ Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
.footer__social-list__item:not(:first-child) {
  margin-left: 0.3125rem;
}

.footer__social-list__link {
  padding: 0.125rem;
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out,
    -moz-transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
}

.footer__social-list__link__image {
  max-width: 1.875rem;
}

.footer__social-list__link:hover,
.footer__social-list__link:focus-visible {
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
  transform: translateY(-20%);
}

* {
  font-family: "nrt" !important;
}

@font-face {
  font-family: "nrt";
  src: url("../fonts/NRT-Reg.ttf") format("truetype");
}

.footer__icon-card__content {
  padding-right: 10px;
}

@font-face {
  font-family: "Axiforma";
  src: url("../fonts/axiforma/Axiforma-Book.eot");
  src: local("Axiforma Book"), local("Axiforma-Book"),
    url("../fonts/axiforma/Axiforma-Book.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/axiforma/Axiforma-Book.woff2") format("woff2"),
    url("../fonts/axiforma/Axiforma-Book.woff") format("woff"),
    url("../fonts/axiforma/Axiforma-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("../fonts/axiforma/Axiforma-Regular.eot");
  src: local("Axiforma Regular"), local("Axiforma-Regular"),
    url("../fonts/axiforma/Axiforma-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/axiforma/Axiforma-Regular.woff2") format("woff2"),
    url("../fonts/axiforma/Axiforma-Regular.woff") format("woff"),
    url("../fonts/axiforma/Axiforma-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("../fonts/axiforma/Axiforma-Light.eot");
  src: local("Axiforma Light"), local("Axiforma-Light"),
    url("../fonts/axiforma/Axiforma-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/axiforma/Axiforma-Light.woff2") format("woff2"),
    url("../fonts/axiforma/Axiforma-Light.woff") format("woff"),
    url("../fonts/axiforma/Axiforma-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("../fonts/axiforma/Axiforma-Medium.eot");
  src: local("Axiforma Medium"), local("Axiforma-Medium"),
    url("../fonts/axiforma/Axiforma-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/axiforma/Axiforma-Medium.woff2") format("woff2"),
    url("../fonts/axiforma/Axiforma-Medium.woff") format("woff"),
    url("../fonts/axiforma/Axiforma-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("../fonts/axiforma/Axiforma-SemiBold.eot");
  src: local("Axiforma SemiBold"), local("Axiforma-SemiBold"),
    url("../fonts/axiforma/Axiforma-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/axiforma/Axiforma-SemiBold.woff2") format("woff2"),
    url("../fonts/axiforma/Axiforma-SemiBold.woff") format("woff"),
    url("../fonts/axiforma/Axiforma-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("../fonts/axiforma/Axiforma-Bold.eot");
  src: local("Axiforma Bold"), local("Axiforma-Bold"),
    url("../fonts/axiforma/Axiforma-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/axiforma/Axiforma-Bold.woff2") format("woff2"),
    url("../fonts/axiforma/Axiforma-Bold.woff") format("woff"),
    url("../fonts/axiforma/Axiforma-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("../fonts/axiforma/Axiforma-ExtraBold.eot");
  src: local("Axiforma ExtraBold"), local("Axiforma-ExtraBold"),
    url("../fonts/axiforma/Axiforma-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/axiforma/Axiforma-ExtraBold.woff2") format("woff2"),
    url("../fonts/axiforma/Axiforma-ExtraBold.woff") format("woff"),
    url("../fonts/axiforma/Axiforma-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("../fonts/axiforma/Axiforma-Black.eot");
  src: local("Axiforma Black"), local("Axiforma-Black"),
    url("../fonts/axiforma/Axiforma-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/axiforma/Axiforma-Black.woff2") format("woff2"),
    url("../fonts/axiforma/Axiforma-Black.woff") format("woff"),
    url("../fonts/axiforma/Axiforma-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("../fonts/axiforma/Axiforma-Heavy.eot");
  src: local("Axiforma Heavy"), local("Axiforma-Heavy"),
    url("../fonts/axiforma/Axiforma-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/axiforma/Axiforma-Heavy.woff2") format("woff2"),
    url("../fonts/axiforma/Axiforma-Heavy.woff") format("woff"),
    url("../fonts/axiforma/Axiforma-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
body.rtl {
  direction: rtl;
  text-align: right;
  font-family: "Helectrineue";
}

.banner__image-wrapper {
  margin-right: 300px;
}

.banner-wrapper::before {
  content: "";
  position: absolute;
  width: 1382px;
  right: 45%;
  top: 0;
  background: url(../images/banner/banner-bg-shape1.svg) no-repeat bottom
    right/cover;
}

.testimonial {
  direction: ltr !important;
}

#nav {
  color: black !important;
}

#nav:hover {
  color: darkslateblue !important;
}

.navbar-brand {
  margin-left: 40px;
}

#navbarSupportedContent {
  margin-left: 60px !important;
}

.img5 {
  padding-top: 70px;
  padding-right: 100px !important;
}

.banner {
  margin-bottom: 200px !important;
}

/* .footer__copyright__link::before {
  content: "|";
  margin: 0 0.3125rem;
}

.footer__copyright__link:hover,
.footer__copyright__link:focus-visible {
  text-decoration: underline;
}

.row2 .social {
  margin-right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.9rem;
  margin-top: 1.5rem;
}

.row2 .social a {
  font-size: 1.7rem;
}
.row2 a i {
  scale: 1;
  transition: all 0.3s;
  color: var(--footercontentclr);
}
.row2 .social a i:hover {
  scale: 1.2;
}
.row2 > h5 {
  padding: 1.875rem 0;
  color: var(--footercontentclr);
  letter-spacing: 0.3rem;
}

.row2 {
  color: white;
  scale: 1.2;
  margin-right: 30px;
}

.footer-brand__logo {
  padding-left: 380px;
}

.footer__copyright {
  padding-left: 300px;
} */
